*{
	margin:0px;
	padding:0px;
	text-indent:0px;
}
main{
	padding-left:10%;
	padding-right:10%;
	padding-top:50px;
}
h1{
	position:fixed;
	font-family:Palace Script MT;
	font-size:55px;
	text-align:center;
	z-index:2;
	color:lime;
	left:0px;
	top:0px;
}
#imgtop{
	position:fixed;
	left:0px;
	top:0px;
	z-index:1;
}
#imgleft{
	position:fixed;
	left:0px;
	top:125px;
}	
header>nav{
	width:100%;
	position:fixed;
	z-index:2;
	left:0px;
	top:125px;
}
ul.menu>li, ul.menu>li>ul.submenu>li{
	display:block;
	font-size:1.2rem;
	font-weight:bold;
	height:1.2rem;
	line-height:1.2rem;
	text-align:center;		
	list-style-type:none;
	overflow:hidden;
}
ul.menu>li{
	float:left;
	width:33.33%;
	background:yellow;
}
 ul.submenu>li{
	width:100%;
	background:pink;
}
ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
	display:block;
	height:	100%;
	text-decoration:none;
	color:black;
}
ul.menu>li>a:hover, ul.submenu>li>a:hover{
	background:lime;
}
ul.menu>li:hover{
	overflow:visible;
}
 body{
	background-color:#D8EBB5;
}
a{
	text-decoration:none;
	color:black;	
}
@media screen and (max-width:320px){
	*{
		margin:0px;
		padding:0px;
		text-indent:0px;
	}
	main{
		padding-left:10%;
		padding-right:10%;
		padding-top:50px;
		font-size:13px;
	}
	h1{
		position:fixed;
		font-family:Palace Script MT;
		font-size:25px;
		text-align:center;
		z-index:2;
		color:lime;
		left:0px;
		top:0px;
	}
	#imgtop{
		position:fixed;
		left:0px;
		top:0px;
		z-index:1;
		height:18%;
		width:100%;
		top:0px;
	}
	#imgleft{
		position:fixed;
		left:0px;
		top:75px;
		height:100%; 
		width:9%;
	}	
	header>nav{
		width:100%;
		position:fixed;
		z-index:2;
		left:0px;
		top:75px;
	}

	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		font-size:0.7rem;
		font-weight:bold;
		height:1.2rem;
		line-height:1.2rem;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
	}
	ul.menu>li{
		float:left;
		width:33.33%;
		background:yellow;
		border-color:lime;
		border-width:3px;
	}
	 ul.submenu>li{
		width:100%;
		background:pink;
		border-color:purple;
		border-width:3px;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:100%;
		text-decoration:none;
		color:black;
	}
	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:lime;
	}
	ul.menu>li:hover{
		overflow:visible;
	}
}
@media screen and (max-width:768px){
	*{
		margin:0px;
		padding:0px;
		text-indent:0px;
	}
	main{
		padding-left:10%;
		padding-right:10%;
		padding-top:50px;
		font-size:13px;
	}
	h1{
		position:fixed;
		font-family:Palace Script MT;
		font-size:25px;
		text-align:center;
		z-index:2;
		color:lime;
		left:0px;
		top:0px;
	}
	#imgtop{
		position:fixed;
		left:0px;
		top:0px;
		z-index:1;
		height:13%;
		width:100%;
		top:0px;
	}
	#imgleft{
		position:fixed;
		left:0px;
		top:120px;
		height:100%; 
		width:9%;
	}	
	header>nav{
		width:100%;
		position:fixed;
		z-index:2;
		left:0px;
		top:120px;
	}

	ul.menu>li, ul.menu>li>ul.submenu>li{
		display:block;
		font-size:0.7rem;
		font-weight:bold;
		height:1.2rem;
		line-height:1.2rem;
		text-align:center;		
		list-style-type:none;
		overflow:hidden;
	}
	ul.menu>li{
		float:left;
		width:33.33%;
		background:yellow;
		border-color:lime;
		border-width:3px;
	}
	 ul.submenu>li{
		width:100%;
		background:pink;
		border-color:purple;
		border-width:3px;
	}
	ul.menu>li>a,ul.menu>li>div,ul.submenu>li>a{
		display:block;
		height:100%;
		text-decoration:none;
		color:black;
	}
	ul.menu>li>a:hover, ul.submenu>li>a:hover{
		background:lime;
	}
	ul.menu>li:hover{
		overflow:visible;
	}
}		
